body
{
    background-color: #f0efeb;
}

h1 {text-align: center;}
#div-1 {text-align: center;}
a
{
    color: black;
    font-family: 'Lato', sans-serif;
    text-decoration: none;
    font-size: 22px;
}

ul
{
   
}

.sub-category{
    color: blue;
    font-family: 'Yantramanav', sans-serif;
    font-size: 18px;
    
}

h1
{
    color: black;
    font-family: 'Fredoka One', cursive;

}
h2
{
    color: black;
}
h3
{
    color: black;
}

.header
{
    color: black;
}

div
{
    color:  black;
    font-family: 'Roboto', sans-serif;

}
#div-1
{
    width: 100%;
}
#div-2
{
    width: 100%;
}

@media only screen and (max-width: 600px)
{
    body
    {
         background-color: #fff;
    }
}
